@{
    ViewData["Title"] = "Home Page";
}
<div class="setting-wrapper">
    <a asp-controller="Farmer" asp-action="Index" class="btn-lg">
        <div class="p-5 setting-card">
            Farmers
        </div>
    </a>
    <a asp-controller="MilkEntry" asp-action="Index" class="btn-lg">
        <div class="p-5 setting-card">
            Milk Entry
        </div>
    </a>
    <a asp-controller="Advance" asp-action="Index" class="btn-lg">
        <div class="p-5 setting-card">
            Advance
        </div>
    </a>
    <a asp-controller="Feed" asp-action="Index" class="btn-lg">
        <div class="p-5 setting-card">
            Feed
        </div>
    </a>
    <a asp-controller="Rate" asp-action="Index" class="btn-lg">
        <div class="p-5 setting-card">
            Rate
        </div>
    </a>
</div>