@model Milk.Web.ViewModels.FarmerEditViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form asp-controller="Farmer" asp-action="Edit" autocomplete="off" id="FarmerForm" enctype="multipart/form-data">


    <div class="form-group mt-2 float-container position-relative">
        <label class="control-label float-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group mt-2 float-container position-relative">
        <label class="control-label float-label">Village</label>
        <input type="text" asp-for="Village" class="form-control" />
        <span asp-validation-for="Village" class="text-danger"></span>
    </div>
    <div class="form-group mt-2 float-container position-relative">
        <label class="control-label float-label">Profile Picture</label>
        <input type="text" asp-for="ProfilePicture" class="form-control" />
        <span asp-validation-for="ProfilePicture" class="text-danger"></span>
    </div>
    <div class="form-group mt-2 float-container position-relative">
        <label class="control-label float-label">Mobile Number</label>
        <input type="text" asp-for="MobileNumber" class="form-control" />
        <span asp-validation-for="MobileNumber" class="text-danger"></span>
    </div>
    <div class="form-group mt-2 float-container position-relative">
        <label class="float-label mt-2">Is Active</label>
        <div class="my-custom-select width-100">
            <select class="form-control select-dropDown" id=select asp-for="IsActive">
                <option value="false">select</option>
                <option value="true">Active</option>
                <option value="false">InActive</option>
            </select>
        </div>
    </div>


    <div class="m-t-30">
        <button  class="btn btn-primary m-r-10">Update</button>
        <a asp-controller="farmer" asp-action="index" class="btn btn-secondary">Cancel</a>
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#btnSubmit").click(function () {
                if ($("#form").valid()) {
                    $("#btnSubmit").prop("disabled", "true")
                    $("#form").submit();
                }
            });
        });
    </script>
}
