@model Milk.Web.ViewModels.FarmerWrapperViewModel
@{
    ViewData["Title"] = "Index";
}
<button type="button" class="col-md-2" onclick="location.href='@Url.Action("Index","Home")'">Back</button>
<div class="row">
    <h1 class="col-md-4">Index</h1>
    <button type="button" class="col-md-4" onclick="location.href='@Url.Action("Add","Farmer")'">Add New Farmer</button>
</div>

<div id="indexPartialContent">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th width="20%">Name</th>
                    <th width="20%" class="text-center">Manage</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var farmer in Model.FarmerList)
                {
                    <tr>
                        <td>@farmer.Name</td>
                        <td class="text-center">
                            <span title="Edit" class="cursor-pointer" onclick="redirectToEdit('/farmer/edit/@farmer.Id')"><i class="fa fa-pencil ml-3" aria-hidden="true"></i></span>
                            <span title="Remove" class="cursor-pointer" onclick="OpenDeleteConfirmBox('@farmer.Id')"><i class="fa fa-trash ml-3" aria-hidden="true"></i></span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>

<partial name="_deletePopup" />

