@model Milk.Web.ViewModels.RateChartImportModel
@{
    ViewData["Title"] = "RateChartImport";
}

@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
}

<h1>RateChartImport</h1>

<div class="row">
    <div class="col-md-6 detail-container">
        <form asp-controller="Rate" asp-action="RateSheetImport" id="form" autocomplete="off" spellcheck="false" enctype="multipart/form-data">
            <div class="detail-container">
                <div class="row">
                    <label for="file-input" class="mt-2 btn btn-primary cursor-pointer">Upload Excel file</label>
                    <input asp-for="file" id="file-input" class="form-control display-none">
                    <input type="text" readonly="readonly" class="form-control" value="" id="Excel" />
                </div>
                <div class="detailBtn-group">
                    <button id="btnAdd" type="button" class="btn btn-primary">Submit</button>
                    <a asp-controller="Rate" asp-action="index" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <script src="~/js/summernote.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#EntryDate').datepicker({
            });
            $("#btnAdd").click(function () {
                $("#btnAdd").prop("disabled", "true")
                $("#form").submit();
            });
            $("#file-input").change(function () {
                $("#Excel").val($("#file-input")[0].files[0].name);
                console.log($("#file-input")[0].files[0].name);
            });
        })

    </script>
}

